{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% include 'covid_bed/navs.html' %}
    <section class="about">
        <div class="container flex items-center">
            <div class="flex-1">
                <img class="about-me-img" src="{% static 'image/Subh.jpeg' %}" alt="">
            </div>

            <div class="">
                <h1>Subhransu <span>Das</span></h1>
                <h3></h3>
                <p>Project Leader</p>

                <div class="social">
                    <i class="fab fa-facebook mx-auto"></i>
                    <i class="fab fa-twitter  mx-auto"></i>
                    <i class="fab fa-instagram  mx-auto"></i>
                    <i class="fab fa-whatsapp  mx-auto"></i>
                </div>
            </div>
        </div>
    </section>

    <section class="about">
        <div class="container flex items-center">
            <div class="flex-1">
                <img class="about-me-img" src="{% static 'image/img6.jpg' %}" alt="">
            </div>

            <div class="flex-1">
                <h1>Sidharth <span>Singh</span></h1>
                <h3></h3>
                <p>Team member</p>

                <div class="social">
                    <a href="https://en-gb.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <i class="fab fa-facebook mx-auto"></i>
                    <i class="fab fa-twitter  mx-auto"></i>
                    <i class="fab fa-instagram  mx-auto"></i>
                    <i class="fab fa-whatsapp  mx-auto"></i>
                </div>
            </div>
        </div>
    </section>

    <section class="about">
        <div class="container flex items-center">
            <div class="flex-1">
                <img class="about-me-img" src="{% static 'image/Pallabi.jpg' %}" alt="">
            </div>

            <div class="flex-1">
                <h1>Pallabi <span>Das</span></h1>
                <h3></h3>
                <p>Team member</p>

                <div class="social">
                    <a href="https://en-gb.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                   <i class="fab fa-facebook mx-auto"></i>
                    <i class="fab fa-twitter  mx-auto"></i>
                    <i class="fab fa-instagram  mx-auto"></i>
                    <i class="fab fa-whatsapp  mx-auto"></i>
                </div>
            </div>
        </div>
    </section>
<script src="https://kit.fontawesome.com/3312271b60.js"></script>
{% endblock %}