{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% include 'covid_bed/navs.html' %}
    <div class="row justify-content-center">
        <div class="col-md-6">COVID-19 Beds</div>
        <div class="col-md-4">total hospital: {{total_hospitals}}</div>
    </div>
    <table class="table table-hover">
  <thead class="bg-dark text-white">
    <tr>
      <th scope="col">Hospital / Covid Centre</th>
      <th scope="col">Last Updated</th>
      <th scope="col">Total</th>
      <th scope="col">Vacant</th>
    </tr>
  </thead>
  <tbody>
  {% for hospital in hospitals_list %}
    <tr>
      <th scope="row">{{hospital.name}}</th>
      <td>{{hospital.update_date}}</td>
        {% if hospital.total_beds == 0 %}
            <td>{{hospital.total_general}}</td>
        {% else %}
        <td>{{hospital.total_beds}}</td>
        {% endif %}
      <td>{{hospital.vacant_general}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}