{% extends 'base.html' %}
{% load tz %}
{% block title %}
Covid19 bed availability
{% endblock %}
{% block css %}
.nav-card:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
{% endblock %}
{% block content %}
{% include 'covid_bed/navs.html' %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://source.unsplash.com/2000x400/?hospital" class="d-block w-100" style="background:rgba(0,0,0,0.6);" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>We can beat together #covid19</h5>
                <p>The threat is the Virus, not the people.</p>
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    {% comment %}
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="container-fluid">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-6">

        </div>
    </div>
    {% endcomment %}
    <div class="row">
        <div class="col"><h3>Hospital by states of India</h3></div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="row mb-4">
                {% for state_name,total in hospitals.items %}
                <div class="col-lg-4 col-sm-6 col-12 mb-4">
                    <div class="card text-center">
                        <a href="{% url 'covid_bed:hospital_list' state_name  %}" class="text-decoration-none text-dark nav-card">
                            <div class="card-header">
                                <strong>{{state_name}}</strong>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{total}}</h5>
                            </div>
                            <div class="card-footer text-muted">
                                <small style="font-size:12px;">{{update_date}}</small>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6 d-none d-md-block">
            {{map|safe}}
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
window.addEventListener('load',(event) =>{
    var options = {
      enableHighAccuracy: true,
      timeout: 5000,
      maximumAge: 0
    };

    function success(pos) {
      var crd = pos.coords;

      console.log('Your current position is:');
      console.log(`Latitude : ${crd.latitude}`);
      console.log(`Longitude: ${crd.longitude}`);
      console.log(`More or less ${crd.accuracy} meters.`);
    }

    function error(err) {
      console.warn(`ERROR(${err.code}): ${err.message}`);
    }

    navigator.geolocation.getCurrentPosition(success, error, options);
});
</script>
{% endblock %}