<nav class="navbar navbar-expand-md navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'covid_bed:index' %}" style="font-size:24px; font-weight:600;">
            <span style="font-size:30px;">&copy;</span>OVID-19</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                <li class="nav-item mx-4">
                    <a class="nav-link active" aria-current="page" href="{% url 'covid_bed:index' %}">Home</a>
                </li>
                <li class="nav-item m-auto">
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="search by district" aria-label="Username"
                                   aria-describedby="basic-addon1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                    width="24" height="24"
                                    viewBox="0 0 24 24"
                                    style=" fill:#000000;">
                                        <path d="M 9 2 C 5.1458514 2 2 5.1458514 2 9 C 2 12.854149 5.1458514 16 9 16 C 10.747998 16 12.345009 15.348024 13.574219 14.28125 L 14 14.707031 L 14 16 L 20 22 L 22 20 L 16 14 L 14.707031 14 L 14.28125 13.574219 C 15.348024 12.345009 16 10.747998 16 9 C 16 5.1458514 12.854149 2 9 2 z M 9 4 C 11.773268 4 14 6.2267316 14 9 C 14 11.773268 11.773268 14 9 14 C 6.2267316 14 4 11.773268 4 9 C 4 6.2267316 6.2267316 4 9 4 z"></path></svg>
                                </span>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link" href="{% url 'covid_bed:about' %}">About</a>
                </li>
            </ul>
            <ul class="ml-auto">
                <div style="min-width:150px;"></div>
            </ul>
        </div>
    </div>
</nav>