<nav class="navbar navbar-expand-md navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'covid_bed:index' %}" style="font-size:24px; font-weight:600;">
            <span style="font-size:30px;">&copy;</span>OVID-19</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                <li class="nav-item mx-4">
                    <a class="nav-link active" aria-current="page" href="{% url 'covid_bed:index' %}">Home</a>
                </li>
                <li class="nav-item m-auto">
                    <form class="form-inline">
                        <div id="autocomplete" class="autocomplete">
                            <input class="autocomplete-input" placeholder="search by hospital name"/>
                            <ul class="autocomplete-result-list"></ul>
                        </div>
                    </form>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link" href="{% url 'covid_bed:about' %}">About</a>
                </li>
            </ul>
            <ul class="ml-auto">
                <li style="min-width:150px; list-style-type:none;"></li>
            </ul>
        </div>
    </div>
</nav>